@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --background-primary: #dfdfdf;
  --background-secondary: rgba(0, 0, 0, 0.5);
  --card-primary: #6b6b6b69;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-primary);
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  margin: auto;
}

header {
  /* display: block; */
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: 800;
  margin: 3em;
  padding: 1em;
  color: #ff7f00;
  text-align: center;
}
h2 {
  font-size: 2em;
  text-align: center;
  color: black;
  margin: auto;
  padding: 2em;

}
h4 {
  font-size: 2em;
  color: #ff7f00;
}
.hm-container {
  /* display: block; */
  margin:auto;
  padding: 1em;
  width: 60%;
}
.hm-container p{
  font-feature-settings: "smcp";
  font-size: 2em;
  justify-content: center;
  text-align: center;
}
/* .hm-container .btn{
  
  text-align: center;
} */
.btn{
  /* display: block; */
  margin:auto;
  font-size: 1.5em;
  height: 2em;
  width: 10em;
  text-align: center;
  background-color:rgb(247, 127, 0);
  border-radius: 25px;
  transition:  width 3s, opacity 2s;
}

.btn:hover{
 opacity: 0.8;
  width: 14em;
}
form{
  text-align: center;
}

.search-field {
  height: 4em;
  padding: 1em;
  margin: 0.5em;
  width: 100%;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  outline: none;
  text-align: center;
}

.job-Description {
  width: 200px;
}

.job-Location {
  width: 200px;
}

.job-Type {
  width: 200px;
}

.search-btn {
  height: 4em;
  width: 200px;
  padding: 1em;
  background: #ff7f00;
  border-radius: 25px;
  color: #000;
}

.search-btn:hover {
  background: #ff9100;
  cursor: pointer;
}
.form-box {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2em;
}

/* Main Content */
main .bigScreen {
  max-width: 1920px;
  height: 100vh;
  margin: 1em;
}
/* Adjust grid-container to same as Template */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  column-gap: 2em;
  row-gap: 2em;
  width: auto;
  margin: 2em;
  padding: 1em;
  border: none;
}

.job-Card {
  text-align: center;
  background: rgba(71, 71, 71, 0.3);
  width: 100%;
  height: 30vh;
  border-radius: 15px;
  overflow: hidden;
}
.job-Card:hover {
  background: rgba(71, 71, 71, 0.8);
}

.job-Card p{
  text-align: center;

  overflow: hidden;
}
/* Media Queries */
@media (max-width: 800px) {
  body{
    min-height: 100vh;
    min-width: 100vw;
  }
  h1{
    font-size: 3em;
    margin: 2em;
    padding: 0.5em;
  }

  .hm-container {
  display: block;
  margin:auto;
  padding: 0.5em;
  width: 60%;
}
  .grid-container.mobile {
    display: grid;
    grid-template-columns: 1fr;
  }

}
